.aside {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #84708626;
  flex-direction: column;
  color: #7d6b7eda;
}

.ul {
  height: 80%;
  width: 100%;
  padding: 5vh 0vw;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
}

@media (max-width: 798px) {
  .aside {
    width: 100%;
  }
}
