.aside {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84708626;
  flex-direction: column;
  color: #7d6b7eda;
  padding: 2.5vh 0;
}

.ul {
  height: 70%;
  width: 100%;
  padding: 2.5vh 0vw;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}

.lightInput,
.darkInput {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  height: 6vh;
  border: transparent;
  width: 90%;
  outline: none;
  padding: 0.5em;
  font-size: 1.6em;
  letter-spacing: 0.7px;
}

.lightInput {
  color: #473c48e3;
  background-color: #f7f7f766;
  border-left: solid #7d6b7eda;
  color: #6f5d70da;
}

.darkInput {
  background-color: #f7f7f720;
  color: #f7f7f7ca;
  border-left: solid #d0b9d2da;
}
.lightInput::placeholder {
  color: #473c48e3;
  color: #6f5d70da;
}

.darkInput::placeholder {
  color: #f7f7f7ca;
}
.btnBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 798px) {
  .aside {
    width: 100%;
    min-height: 100%;
  }
}
