.aside {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  background-color: #84708626;
  flex-direction: column;
  color: #7d6b7eda;
}

.ul {
  height: 80%;
  width: 100%;
  padding: 5vh 0vw;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
}
.input {
  height: 7vh;
  border: transparent;
  width: 90%;
  background-color: #f7f7f720;
  outline: none;
  border-left: solid #7d6b7eda;
  padding-left: 0.5em;
  font-size: 1.7em;
  letter-spacing: 0.7px;
  color: #7d6b7eda;
  border-radius: 0 3px 3px 0;
}

@media (max-width: 798px) {
  .aside {
    width: 100%;
  }
}
