/* COMP 2 */

.article {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3em;
  min-height: 80%;
}
.p2 {
  width: 100%;
  font-size: 2em;
  text-transform: uppercase;
}
.ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 3vh;
  overflow-y: scroll;
  padding: 1em 0;
  height: 100%;
}

.li {
  width: 90%;
  /* min-height: 5vh; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-left: solid rgb(128, 17, 128);
  border-left: solid #7d6b7eda;
  background-color: #7d6b7e26;
  color: #887a89ef;
  font-size: 1.7em;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  padding: 0.5em 0.5em;
  /* max-height: auto; */
  height: auto;
}

.listItemP {
  cursor: pointer;
  max-width: 90%;
  padding: 0.5em 0;
}
.span {
  cursor: pointer;
  font-size: 1.4em;
  color: #887a89ef;
}

/* TEST */

.article {
  height: 45%;
}

/* MEDIA COMP 2 */

@media (max-width: 798px) {
  .ul {
    /* height: 40%; */
    gap: 2vh;
    min-height: auto;
  }
  .article {
    height: 55%;
    min-height: auto;
  }
}
