.darkApp {
  background-color: rgb(28, 24, 28);
  height: 100vh;
  width: 100vw;
  color: #f7f7f7e8;
}

.lightApp {
  background-color: #f7f7f7;
  height: 100vh;
  width: 100vw;
  color: rgba(28, 24, 28, 0.848);
}
