.dark,
.link {
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #713077;
  color: #7d6b7eda;
  font-size: 1.5em;
}
.dark:hover,
.link:hover {
  color: #58445b;
  color: rgb(188, 149, 49);
  transition: 0.2s;
}
