.lightInput,
.darkInput {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.7em;
  letter-spacing: 1px;
  padding: 0.5em 0.5em;
  height: auto;
}

.span {
  cursor: pointer;
  font-size: 1.4em;
  color: #887a89ef;
  color: #f7f7f7ca;
}

.lightInput {
  color: #473c48e3;
  color: #473c48ba;

  background-color: #f7f7f766;
}

.darkInput {
  background-color: #f7f7f720;
  color: #f7f7f7ca;
  color: #f7f7f7b9;
}
.lightInput::placeholder {
  color: #473c48e3;
}

.darkInput::placeholder {
  color: #f7f7f7ca;
}
