.section {
  width: 70%;
  /* TEST */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84708626;
  flex-direction: column;
  color: #7d6b7eda;
  padding: 2.5vh 2.5vw;
}

/* STAYS */

@media (max-width: 798px) {
  .section {
    width: 100%;
    min-height: 100%;
  }
}
