/* COMP ONE */
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
}
.h4 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.p {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pKey {
  font-size: 2em;
  letter-spacing: 1px;
}
.select {
  height: 7vh;
  border: transparent;
  width: 20%;
  background-color: #f7f7f720;
  background-color: #f7f7f70c;
  background-color: #7d6b7e26;

  cursor: pointer;
  outline: none;
  border-left: solid #7d6b7eda;
  padding-left: 0.5em;
  font-size: 1.7em;
  letter-spacing: 0.7px;
  color: #7d6b7eda;
  border-radius: 0 3px 3px 0;
}

/* MEDIA COMP ONE */

@media (max-width: 798px) {
  .div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    gap: 1.5em;
    /* background-color: aqua; */
    width: 100%;
    padding: 2.5vh 0;
  }
  .select {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
