.article {
  width: 70%;
  /* test */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #84708626;
  flex-direction: column;
  color: #7d6b7eda;
  padding: 2.5vh 2.5vw;
}
.lightPdate,
.darkPdate {
  font-size: 3em;
  width: 100%;
}
.lightPquote,
.darkPquote {
  max-width: 70%;
  text-align: center;
  font-size: 4em;
}
.lightPauthor,
.darkPauthor {
  font-size: 2em;
}

.lightPauthor,
.lightPdate,
.lightPquote {
  color: #473c48e3;
}

.darkPauthor,
.darkPdate,
.darkPquote {
  color: #f7f7f7f5;
}
.quoteBox {
  width: 100%;
  display: flex;
  height: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

@media (max-width: 798px) {
  .article {
    width: 100%;
    min-height: 100%;
  }
}
