.header {
  height: 10vh;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 2.8em;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  /* color: rgb(188, 149, 49); */
  color: #713077;
  color: #6f5d70da;
}
