.lightInput,
.darkInput {
  width: 90%;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.lightInput {
  color: #473c48e3;
  background-color: #f7f7f766;
  border-left: solid #7d6b7eda;
  color: #6f5d70da;
}

.darkInput {
  background-color: #f7f7f720;
  color: #f7f7f7ca;
  border-left: solid #d0b9d2da;
}
