.div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}
.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  gap: 1em;
  background-color: #84708626;
  color: #7d6b7eda;
  border-radius: 2px;
}
.lightH2,
.darkH2 {
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center;
  max-width: 90%;
  padding: 1em 0;
}
.lightH2 {
  color: #473c48;
}
.darkH2 {
  color: #f7f7f7ca;
}

.darkInput,
.lightInput {
  height: 7vh;
  border: transparent;
  width: 85%;
  outline: none;
  padding-left: 0.5em;
  font-size: 1.7em;
  letter-spacing: 0.7px;
  border-radius: 0 3px 3px 0;
}

.lightInput {
  color: #473c48;
  background-color: #f7f7f766;
  border-left: solid #7d6b7eda;
}
.lightInput::placeholder {
  color: #473c48;
}

.darkInput {
  background-color: #f7f7f720;
  color: #f7f7f7ca;
  border-left: solid #d0b9d2da;
}
.darkInput::placeholder {
  color: #f7f7f7ca;
}
.btnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 5vh;
}

.serverErr {
  font-size: 1.7em;
  color: rgb(150, 119, 150);
  color: rgb(188, 149, 49);
}
